body{
  min-height: 100vh;
  margin: 0;

  /* display: grid;
  grid-template-rows: auto 1fr auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("design/background.png");
  background-size: cover;
  background-repeat: no-repeat;

  color: white;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 95%;
  padding: 0 4rem;
}

a {
  color: unset;
  text-decoration: none;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("./design/roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("./design/roboto/Roboto-Regular.ttf");
  font-style: bold;
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("./design/roboto/Roboto-Thin.ttf");
  font-style: bold;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("./design/roboto/Roboto-Medium.ttf");
  font-style: bold;
}

@media screen and (max-width: 550px) {
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
    background-position: center;
  }
  main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5rem 0 10rem 0;
  }
}