body{
  min-height: 100vh;
  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;

  background: url("design/background.png");
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("design/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 0 10vh 0 10vh; */
}

a {
  color: unset;
  text-decoration: none;
}

@font-face {
  font-family: "Roboto";
  src: url("./design/roboto/Roboto-Bold.ttf");
  font-style: bold;
}