body{
  background: url("design/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

main {
  display: flex;
  justify-content: space-around;
  flex: auto;
}

a {
  color: unset;
  text-decoration: none;
}

@font-face {
  font-family: "Roboto";
  src: url("./design/roboto/Roboto-Bold.ttf");
  font-style: bold;
}