.hero {
  background-color: peru;
  max-width: 455px;
  max-height: 347px;
  /* width: 555px;
  height: 347px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; 
  
}

.hero h1 {
  align-self: flex-start;
  font-size: 54px;

  margin: 0;
}

.hero p {
  font-size: 22px;
  margin-bottom: 0px;
}