.hero {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 555px;
  height: 347px;
  left: 150px;
  top: 277px; */
}

.hero h1 {
  align-self: flex-start;
  font-size: 40px;
}

.hero p {

}