.hero {
  width: 455px;
  max-height: 347px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; 
}

.hero h1 {
  font-family: "Roboto-Regular";
  align-self: flex-start;
  font-size: 54px;
  margin: 0;
}

.hero p {
  font-family: "Roboto-Medium";
  font-size: 20px;
  line-height:26px;
  margin-bottom: 0px;
}

@media screen and (max-width: 550px) { 
  .hero {
    width: 90vw;
    margin: 0;
    padding: 0;
    margin-bottom: 6rem;
  }

}